Source: display-kiosk
Section: web
Priority: optional
Maintainer: Niklas Fiekas <niklas.fiekas@tu-clausthal.de>
Build-Depends: debhelper (>= 9), libqt4-dev, libqtwebkit-dev (>= 2.0~)
Standards-Version: 3.9.5.0

Package: display-kiosk
Architecture: any
Depends: libqt4-core, libqt4-gui, libqt4-network, libqt4-webkit, ${misc:Depends},  ${shlibs:Depends}
Recommends: x11-xserver-utils
Suggests: nodm
Description: Display a website in a stripped down kiosk
 Display kiosk allows you to show a website fullscreen in a stripped down kiosk.
 .
 It can automatically reload the website at a configured interval. It can also
 be configured to scroll down at a specified speed.
 .
 Uses include showing news on a public monitor or providing a locked down kiosk
 for browsing.
