Source: display-kiosk
Section: web
Priority: optional
Maintainer: Niklas Fiekas <niklas.fiekas@tu-clausthal.de>
Build-Depends: debhelper (>= 9), qtbase5-dev, libqt5opengl5-dev, libqt5webkit5-dev
Standards-Version: 3.9.5.0

Package: display-kiosk
Architecture: any
Depends: ${misc:Depends},  ${shlibs:Depends}
Recommends: x11-xserver-utils
Suggests: nodm ca-certificates
Description: Display a website in a stripped down kiosk
 Display kiosk allows you to show a website fullscreen in a stripped down kiosk.
 .
 It can automatically reload the website at a configured interval. It can also
 be configured to scroll down at a specified speed.
 .
 Uses include showing news on a public monitor or providing a locked down kiosk
 for browsing.
